.nav {
  background-color: #02c1e9;
  color: white;
  height: 100px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

img {
  height: 98px;
  border-radius: 15px;
  text-align: center;
  margin: 5px;
}

html {
  background-color: ;
}
