.nav {
  background-color: #02c1e9;
  color: white;
  height: 100px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: #36454f;
  border-width: medium;
}

img {
  height: 98px;
  border-radius: 15px;
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-color: #36454f;
  text-align: center;
  margin: 5px;
  border-width: medium;
}

html {
  background-color: ;
}

.Card {
  background-color: white;
  height: 20%;
  width: 80%;
  display: inline-block;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  margin: 2%;
  box-shadow: 4px 4px #09090966;
  align-content: center;
  padding: 2%;
}

.Container {
  text-align: center;
  height: 700px;
  width: 25%;
  float: left;
  background-color: white;
  margin: 3%;
  margin-left: 5%;
  border-radius: 10px;
  box-shadow: 6px 6px #a8a8a8;
  border-style: solid;
  border-color: grey;
  border-width: thin;
}

.delete {
  position: relative;
  float: right;
  border-style: none;
}

.Add {
  border-radius: 5px;
}

.form {
  margin-left: 5%;
}

.inputForm {
  margin-right: 1%;
  width: 40%;
  height: 30px;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  border-radius: 4px;
}

.submit {
  background-color: #7df7a8;
  height: 32px;
  border-radius: 4px;
  border-style: inset;
  border-color: black;
}

.progress-bar {
  margin: 1%;
  position: relative;
  height: 10px;
  width: 250px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: green;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
