.nav {
  background-color: #02c1e9;
  color: white;
  height: 100px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 10px;
}

img {
  height: 98px;
  border-radius: 15px;
  text-align: center;
  margin: 5px;
}

html {
  background-color: ;
}

.Card {
  background-color: white;
  height: 60px;
  width: 80%;
  display: inline-block;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  margin: 2%;
  box-shadow: 4px 4px #09090966;
  align-content: center;
}

.Container {
  text-align: center;
  height: 500px;
  width: 25%;
  float: left;
  background-color: white;
  margin: 3%;
  margin-left: 5%;
  border-radius: 10px;
  box-shadow: 10px 10px #aeaeae;
}

.delete {
  position: relative;
  float: right;
  height: 15px;
  border-style: outset;
  border-radius: 5px;
}

.Add {
  border-radius: 5px;
}
